{% load static %}
<h1>Tour Agents</h1>

<div>
    {% if request.user.is_authenticated %}
      <a class="log">{{ user.email }}</a>
      <a class="log" href="{% url 'logout' %}">Logout</a>
    {% else %}
      <a class="log" href="{% url 'login' %}">Login</a>
      <a class="reg" href="{% url 'reg_home'  %}">Register</a>
    {% endif %}
  </div>
  <br>
  <br>
  <br>


<div>
    <form method="GET">
      <li>
      <input type="text" name="AgentSearch" placeholder="type something...">
      </li>
      {{ agent_filter.form }}
      	
      <button type="submit" name="search">Search</button>
      
    </form>
</div>


{% for i in agents %}
<h2>Tour Agent</h2>
<li>
	bank account: {{i.user.bank_account}}
</li>

<li>
	Name: {{i.user.name}}
</li>

<li>
	Phone number:{{i.user.phone_number}}
</li>

<li>
	Language: {{i.get_language_display }}
</li>
<li>
	About agent: {{i.about_me}}
</li>
<li>
	Tour type: {{ i.get_tour_type_display }}
</li>

<li>
	Price :{{i.first_to_ten_price}}
</li>

<li>
	Date of tour : {{i.date_of_tour }}
</li>
<li>
      Quantity : {{i.quantity }}
</li>

<br>
<br>
<br>

{% endfor %}