{% load static %}
<h1>driver list</h1>

<div>
    {% if request.user.is_authenticated %}
      <a class="log">{{ user.email }}</a>
      <a class="log" href="{% url 'logout' %}">Logout</a>
    {% else %}
      <a class="log" href="{% url 'login' %}">Login</a>
      <a class="reg" href="{% url 'reg_home' %}">Register</a>
    {% endif %}
  </div>
  <br>
  <br>
  <br>

<div>
    <form method="POST">
      {% csrf_token %}
      <label>Driver Name</label>
      <input type="text" name="DriverSearch" placeholder="Driver Name">

      {{ driver_filter.form }}
      	
      <button type="submit" name="search">Search</button>
      
    </form>
  </div>


{% for i in drivers %}
<h3>Driver</h3>

<img src="{{i.profile_image.url}}" alt="jhsajd">


<li>
	Name: {{i.name}}
</li>

<li>
  Gender: {{i.get_gender_display}}
</li>
<br>
<li>
	Car model: {{ i.get_car_display }}
</li>
<li>
	Production Year:{{ i.get_production_year_display }}
</li>

<li>
	Car Seats: {{ i.seats }}
</li>

<li>
	Price per KM: {{ i.price_per_km }}
</li>
<br>
<br>
{% endfor %}
