{% load static %}
<h1>GuideList</h1>

<div>
    {% if request.user.is_authenticated %}
      <a class="log">{{ user.email }}</a>
      <a class="log" href="{% url 'logout' %}">Logout</a>
    {% else %}
      <a class="log" href="{% url 'login' %}">Login</a>
      <a class="reg" href="{% url 'reg_home' %}">Register</a>
    {% endif %}
  </div>
  <br>
  <br>
  <br>



<div>
    <form method="POST">
      {% csrf_token %}
      
      <!-- <input type="text" name="GuideName" placeholder="type GuideName..."> -->
      {{form.language}}
      {{form.name}}
      {{ guide_filter.form }}
      
      <button type="submit" name="search">Search</button>
      
    </form>
</div>


{% for i in guides %}
<h2>Guide</h2>

<img src="{{i.profile_image.url}}" alt="jhsajd">


<li>
	Name: {{i.name}}
</li>

<br>
<li>
	Language:{{i.get_language_display}}
</li>
<li>
	About Guide:{{i.about_me}}
</li>

<li>
	Location:{{i.location}}
</li>

<br>
<br>
<br>

{% endfor %}