  <div class="login_container">
    <form action="" method="post">
      {% csrf_token %}

      <div class="form_container">
        <p class="form_title">Login Form</p>
        
        <label for="uname"><b>Email</b></label>

        {{ form.username }}

        <label for="psw" type = 'password'><b>Password</b></label>

        {{ form.password }}     
        <label for="chs" ><b>User Choices</b></label>
        {{ form.user_choices }}   
        
        
        
        <button name="submit" value="username,password" type="submit" >Login as</button>
        
        
      </div>
    </form>
  </div>